{
  "root": true,
  "extends": [
    "eslint:recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "eqeqeq": "warn",
    "no-await-in-loop": "warn",
    "no-duplicate-imports": "warn",
    "curly": "error",
    "yoda": [
      "warn",
      "always"
    ],
    "no-use-before-define": "error"
  },
  "ignorePatterns": []
}
